[Desktop Entry]
Type=Service
Exec=blubb
Comment=GUI Builder based on Qt Designer
Comment[bs]=GUI Builder baziran na Qt Designer-u.
Comment[ca]=Constructor d'IGU basat en Qt Designer
Comment[ca@valencia]=Constructor d'IGU basat en Qt Designer
Comment[de]=GUI-Designer auf der Basis vom Qt-Designer
Comment[en_GB]=GUI Builder based on Qt Designer
Comment[es]=Constructor de interfaces gráficas basado en QtDesigner
Comment[et]=GUI ehitaja Qt Disaineri põhjal
Comment[fr]=Constructeur d'interfaces graphiques fondé sur Qt Designer
Comment[gl]=Construtor de interfaces gráficas baseado en Qt Designer.
Comment[gr]=Σχεδιαστής GUI βασισμένος στο Qt Designer
Comment[it]=Creatore di interfacce basato su Qt Designer
Comment[nl]=GUI Builder gebaseerd op Qt Designer
Comment[pl]=Program budujący GUI oparty o projektanta Qt
Comment[pt]=Construtor de GUI, baseado no Qt Designer
Comment[pt_BR]=Construtor de GUI baseado no Qt Designer
Comment[sv]=Grafisk gränssnittskonstruktion baserad på Qt Designer
Comment[uk]=Створення графічного інтерфейсу з Дизайнера Qt
Comment[x-test]=xxGUI Builder based on Qt Designerxx
Name=Qt Designer Integration
Name[bs]=Qt Dizajnerska integracija
Name[ca]=Integració del Qt Designer
Name[ca@valencia]=Integració del Qt Designer
Name[de]=Qt-Designer-Integration
Name[en_GB]=Qt Designer Integration
Name[es]=Integración del Diseñador Qt
Name[et]=Qt Disaineri lõimimine
Name[fr]=Intégration de Qt Designer
Name[ga]=Comhtháthú Qt Designer
Name[gl]=Integración con Qt Designer
Name[gr]=Ενοποίηση με τον Qt Designer
Name[it]=integrazione di Qt Designer
Name[nds]=QtDesigner-Inbinnen
Name[nl]=Qt Designer Integratie
Name[pl]=Integracja projektanta Qt
Name[pt]=Integração com o Qt Designer
Name[pt_BR]=Integração com o Qt Designer
Name[sv]=Integrering med Qt Designer
Name[tr]=Qt tasarımcı Bütünleşmesi
Name[ug]=Qt لايىھىلىگۈچ يۈرۈشلەشتۈرۈلۈشى
Name[uk]=Інтеграція Дизайнера Qt
Name[x-test]=xxQt Designer Integrationxx
GenericName=GUI Designer Integration
GenericName[bs]=Qt Dizajnerska integracija
GenericName[ca]=Integració del dissenyador d'IGU
GenericName[ca@valencia]=Integració del dissenyador d'IGU
GenericName[de]=GUI-Designer-Integration
GenericName[en_GB]=GUI Designer Integration
GenericName[es]=Integración del diseñador de interfaces gráficas
GenericName[et]=Graafilise Disaineri lõimine
GenericName[fr]=Intégration du concepteur d'interfaces graphiques
GenericName[gl]=Funcionalidade de deseño de interfaces gráficas
GenericName[gr]=Ενοποίηση με τον Qt Designer
GenericName[it]=Integrazione di GUI Designer
GenericName[nds]=Böversietmaker-Inbinnen
GenericName[nl]=GUI Designer Integratie
GenericName[pl]=Integracja projektanta GUI
GenericName[pt]=Integração com o Desenhador de GUI's
GenericName[pt_BR]=Integração com o Desenhador de GUI's
GenericName[sv]=Integrering med grafisk gränssnittskonstruktion
GenericName[tr]=Arayüz Tasarlayıcı Bütünleşmesi
GenericName[ug]=GUI لايىھىلىگۈچ يۈرۈشلەشتۈرۈلۈشى
GenericName[uk]=Інтеграція дизайнера графічного інтерфейсу
GenericName[x-test]=xxGUI Designer Integrationxx
icon=kdevelop
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevqtdesigner
X-KDE-PluginInfo-Name=kdevqtdesigner
X-KDE-PluginInfo-Author=Matt Rogers
X-KDE-PluginInfo-Email=mattr@kde.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDevelop-Version=9
X-KDevelop-SupportedMimeTypes=application/x-designer
X-KDevelop-Mode=GUI
